main[class*="chatContent"] form {
    padding: 0;
    margin: 0;
}

div[class*="channelTextArea_"] {
    margin: 0;

    background-color: var(--background-secondary-alt);
    border-radius: 0;

    div[class*="scrollableContainer_"] {
        width: 100%;

        border-radius: 0;

        div[class*="divider_"] {
            display: none;
        }

        div[class*="inner_"] {
            display: flex;
            align-items: center;

            min-height: 53px;

            border-top: 1px solid var(--background-modifier-accent);

            div[class*="attachWrapper_"] {
                display: flex;
                align-items: center;
            }
        }
    }

    div[class*="themedBackground_"] {
        background-color: var(--background-secondary-alt);
    }
}
