main[class*="chatContent"] form {
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    padding: 0;
    margin: 0;

    &::before {
        height: 24px;
    }
}

div[class*="channelBottomArea_*"] {
    flex: 1;
}

div[class*="typing_*"] {
    top: -24px;
    bottom: unset;
    right: unset;
    left: unset;
}

div[class*="channelTextArea_"] {
    margin: 0;

    background-color: var(--background-secondary-alt);
    border-radius: 0;

    div[class*="scrollableContainer_"] {
        width: 100%;

        border-radius: 0;

        div[class*="divider_"] {
            display: none;
        }

        div[class*="inner_"] {
            display: flex;
            align-items: center;

            min-height: 53px;

            border-top: 1px solid var(--background-modifier-accent);

            div[class*="attachWrapper_"] {
                display: flex;
                align-items: center;
            }
        }
    }

    div[class*="themedBackground_"] {
        background-color: var(--background-secondary-alt);
    }
}
