@use "sass:math";

// Colors actually defined by Defign
$brand: #C33F3F;
$green: #3BC95F;
$yellow: #F0B94F;
$red: #C92A43;

// Required for Discord
$blue: #1E88E5;
$pink: #e154a4;
$peach: #FFB74D;
$rosewater: #F2D5CF;
